@use 'src/scss/vars';

.test-component {
  background-color: rgb(160, 200, 140);
  border: 1px solid rgb(159, 39, 39);
  padding: 16px;
  width: 360px;
  text-align: center;
  border-radius: vars.$borderRadius;
  .heading {
    font-size: 64px;
  }

  &.test-component-secondary {
    background-color: black;
    color: white;
  }
}
