$borderRadius: 5px;
$primaryColor: #3e57b0;
$primaryColor--darker: #1d2952;
$lightColor: #ccd1e6;
$todayColor: #ffd46f;
$boxShadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.201);
$textShadow: 1px 1px 0 rgba(0, 0, 0, 0.12);
$borderRadius: 7px;
$gutter: 0.3rem 0.2rem;
$scale: 1.048;
